button,
.button {
  /* reset */
  background: 0;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: inline-block;

  border: solid 4px var(--main-text-color);
  border-radius: 42px;
  box-shadow: 0 0 4px var(--main-text-color);
  color: var(--main-text-color);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin: 1rem 0;
  transition: border 0.3s, background-color 0.3s, color 0.3s;
  cursor: pointer;
}

button:hover,
.button:hover {
  background: var(--main-highlight-color);
}

button:focus,
.button:focus {
  border: 4px solid white;
  outline: none;
}

button:active,
.button:active {
  background: var(--main-text-color);
  color: var(--main-bg-color);
}
