:root {
  --main-bg-color: #2b2d3aff;
  --main-text-color: #84dcc6;
  --main-warning-color: #f5b700;
  --main-error-color: #e84855;
  --main-highlight-color: #6b6d76;

  --main-logo-font: "Codystar", sans-serif;
  --main-title-font: "Righteous", sans-serif;
  --main-body-font: "Expletus Sans", sans-serif;
}
