.input.list-option {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.input:hover {
  opacity: 1;
}

.input.list-option:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
