.actions {
  padding-left: 2rem;
}

.actions .button,
.actions button {
  margin: 0 1rem;
}

.status {
}

.status-message {
  border: 4px solid var(--main-text-color);
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}

.status-message .label {
  color: var(--main-text-color);
  text-shadow: none;
}

.status-message.warning {
  border-color: var(--main-warning-color);
  color: var(--main-warning-color);
}

.status-message.warning .label {
  color: var(--main-warning-color);
}

.status-message.error {
  border-color: var(--main-error-color);
  color: var(--main-error-color);
}

.status-message.error .label {
  color: var(--main-error-color);
}

.results {
  display: flex;
  flex-direction: row;
  height: 40vh;
}
.bar-chart-container {
  width: 100%;
}

.pie-chart-container-wrapper {
  display: inline;
}
.pie-chart-container {
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: bottom;
}
